@mixin flex($h:flex-start,$v:flex-start) {
  display: flex;
  justify-content: $h;
  align-items: $v;
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

*, *::before,
*::after {
  box-sizing: border-box;
}

